# RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Data/outputs
*_scratch/
00-metadata/
01-raw_data/
02-processed/
03-analysis/
04-results/
data/
*.h5
*.rds
*.png
*.csv
output/
results/
# renv
renv/library/
!renv/activate.R
!renv.lock
01-raw_data_scratch
03-analysis_scratch
